<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav class="directory">
      <a href="/flights">All Flights</a>
      <a href="/flights/new">Add a Flight</a>
    </nav>
    <section class="intro">
    <h1 id="express-title"><%= title %> Lab</h1>
    <h1 id="welcome-msg"></h1>
    <p id="flights-intro"></p>
    </section>

  </body>
</html>
